# Manual installs for checking: uv

# Model Keys 
OPENAI_API_KEY='*****'
TAVILY_API_KEY='*****'

ANTHROPIC_API_KEY='*****'
GOOGLE_API_KEY='*****'

# Evaluation and Tracing
LANGSMITH_API_KEY='*****'
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=lca-lc-foundation # change
